<% provide(:title, 'Вход') %>
<h1>Вход</h1>
<%= bootstrap_form_for :session, url: sessions_path, html: {class: 'form-horizontal'} do |f| %>

  <div class="field">
    <%= f.label :email, 'Адрес электронной почты' %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, 'Пароль' %><br>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Войти", class: "btn-primary" %>
  </div>
  
<% end %>