<li class="<%= movie_class_for movie %>">
  <%= thumbnail_for movie %>
  <p><%= movie.title %></p>
  <%= link_to 'Изменить', edit_movie_path(movie) %>
  <%= main_form_for movie %>
  <%= link_to 'Удалить', movie, method: :delete, data: { confirm: 'Удалить фильм?' }, class: "btn btn-default" %>
</li>