<li>
  <%= form_for(Movie.new) do |f| %> 
    <%= f.hidden_field :vimeo_id, value: video["id"] %>
    <%= f.hidden_field :locale, value: locale %>
    <%= f.hidden_field :title, value: video["title"] %>
    <%= f.hidden_field :thumbnail, value: video["thumbnail_small"] %>
    <%= f.submit truncate(video["title"]) %>
    <%#= truncate video["thumbnail_small"] %>
  <% end %>
</li>
<%#= form_for(video) do |f| %>
  <%#= f.number_field :vimeo_id, placeholder: "Vimeo ID" %>
  <%#= f.hidden_field :locale %>
  <%#= f.submit movie.new_record? ? "Добавить" : "Изменить", class: "btn btn-primary" %>
<%# end %>
