<% provide :title, "Фильм #{@movie.vimeo_id}" %>
<h1>Фильм</h1>

<p>
  <strong>Vimeo ID:</strong>
  <%= @movie.vimeo_id %>
</p>

<p>
  <strong>Язык:</strong>
  <%= @movie.locale %>
</p>

<p>
  <strong>Основной:</strong>
  <%= @movie.main %>
</p>

<%= link_to 'Редактировать', edit_movie_path(@movie) %> |
<%= link_to 'Назад', movies_path %>
