<% content_for(:title, "Ваш профиль") %>
<h1>Ваш профиль</h1>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%#= f.submit "Сохранить изменения", class: "btn btn-primary" %>
  <%= f.button :submit, class: "btn-default" %>
<% end %>

<%= gravatar_for(@user) %>
<p><a href="http://gravatar.com/emails">изменить</a></p>
