<%= form_tag messages_path, role: "form" do %>
  <div class="form-group">
    <%= label_tag "message_name", t(".form_name") %>
    <%= text_field_tag "message_name", nil, name: "message[name]", required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "message_email", t(".form_email") %>
    <%= text_field_tag "message_email", nil, name: "message[email]", required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "message_message", t(".form_msg") %>
    <%= text_area_tag "message_message", nil, name: "message[message]", required: true, class: "form-control", rows: 5  %>
  </div>
  <%= submit_tag t(".form_submit"), class: "btn btn-primary" %>
<% end %>