<% content_for :banner do %>
  <h1 class="text-center">Уникальные истории</h1>
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4">
      <div id="call-to-action">
        <p><strong>Студия Sky Memeories</strong></p>
        <%= link_to "Напишите или позвоните нам", contact_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <ul class="bxslider">
        <%= raw slider_content_for @movies %>
      </ul>
    </div>
  </div>
<% end %>

<div id="home-services">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="text-center">Что вы получите</h3>
        <p>Комплексную услугу по сохранению семейной памяти. От съемки и создания фильмов и клипов, до хранения семейного видео на неограниченный срок.</p>
        <p>С огромной радостью и удовольствием мы помогаем поддерживать семейные традиции для счастья и радости, в помощь будущим поколениям.</p>
      </div>
      <div class="col-md-2">
        <h2>&nbsp;</h3>
        <%= image_tag "http://placehold.it/150/81c9df/ffffff&text=our+work+(vimeo)", class: "center" %>
      </div>
      <div class="col-md-5">
        <h3 class="text-center">Зачем нужен семейный фильм</h3>
        <p>Каждому ребенку нужны папа и мама, которые любят его и заботятся о нем. Такой опыт, вынесенный из детства, поможет ребенку в будущем создать гармоничные отношения уже в своей семье. Семейный фильм - это уникальный живой портрет, в котором просматриваются характеры близких и родных людей. В ходе съемки и последующего монтажа мы стремимся отразить образ семейного тепла, что бы дети в будущем смогли увидеть себя в фильме и почувствовать единство со своей семьей.</p>
      </div>
    </div>
  </div>
</div>

<div id="home-courses">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Как мы работаем</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>За годы работы я пришел к выводу, что видеограф это своего рода зеркало, цель которого - отражать максимально четко и без искажений. Заготовленные заранее вопросы, придуманные сценарии - этого не достаточно что бы в полной мере показать взаимоотношения близких людей. Я понял одно: когда приходишь для съемки в семью надо раствориться, стать таким же участником этого конкретного момента в жизни заказчика, как и он сам. Работая играючи, словно я не оператор, а член семьи, можно поймать те моменты и эмоции, из которых потом на монтаже и получится создать семейный фильм - срез из жизни, живой портрет родных друг другу людей.</p>
        <p>Я отношусь к своей работе как к способу выразить красоту человеческих взаимоотношений. Наша команда, мы верим что, работа которую мы делаем, со временем приобретет еще большую ценность для клиента. Память о любящих родителях, о их теплоте и заботе даст детям то понимание семейной жизни, которое станет основой для создания собственных счастливых отношений.</p>      </div>
      <div class="col-md-4">
        <%= image_tag "http://placehold.it/350/81c9df/ffffff&text=max+with+camera+at+work", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div id="home-contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Контакты</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 arrange-top">
        <p><%= t(".write_us_or_call") %></p> 
        <p>Phone: +7 (924) 307-77-11</p>
        <p>Email: <%= mail_to "info@skymemories.ru" %></p>
      </div>
      <dvi class="col-md-6">
        <%= render "pages/contact_form" %>
      </dvi>
      <div class="col-md-3 arrange-top">
        <p>
          <strong>Sky Memories</strong><br>
          <%= t(".address1") %><br>
          <%= t(".address2") %>
        </p>
        <p><%= link_to "Карта", "http://maps.yandex.ru/-/CVbnzE1~" %></p>
      </div>
    </div>
  </div>
</div>