<% content_for :banner do %>
  <h1 class="text-center">Уникальные фильмы для будущих поколений</h1>
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-4">
      <div id="call-to-action">
        <p>Любому ребенку, который захочет в будущем создать свою счастливую семью, важно иметь папу и маму, которые его любят. Семейный фильм позволяет создать образ душевного тепла и гармоничных взаимоотношений. Его так же можно назвать портретом в котором будет просматриваться характеры близких и родных, через которые дети увидят самих себя и почувствуют свою сопричастность и нужность своей семьи.</p>
        <%= link_to "Напишите или позвоните нам", contact_path, class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-8">
      <ul class="bxslider">
        <li>
          <iframe id="vimeo0" src="http://player.vimeo.com/video/16391352?title=0&amp;byline=0&amp;portrait=0&amp;color=87c9ed&amp;api=1&amp;player_id=vimeo0" width="960" height="540" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </li>
        <li>
          <iframe id="vimeo1" src="http://player.vimeo.com/video/75839976?title=0&amp;byline=0&amp;portrait=0&amp;color=87c9ed&amp;api=1&amp;player_id=vimeo0" width="960" height="540" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </li>
        <li>
          <iframe id="vimeo2" src="http://player.vimeo.com/video/74767537?title=0&amp;byline=0&amp;portrait=0&amp;color=87c9ed&amp;api=1&amp;player_id=vimeo0" width="960" height="540" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<div id="home-services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Семейный видеограф</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h3>Как мы работаем</h3>
        <p>Принцип отражения является главным принципом в нашем творчестве. Это значит,что в каждом фильме мы отражаем все что чувствуем и видем максимально ясно четко и без искажений. Мы относимся к своей работе как к единственной и уникальной возможности выразить свою любовь к людям. Мы верим, что наше творчество поможет будущему поколению создать свои счастливые семьи.</p>
      </div>
      <div class="col-md-2">
        <h3>&nbsp;</h3>
        <%= image_tag "http://placehold.it/150/81c9df/ffffff&text=our+work+(vimeo)", class: "center" %>
      </div>
      <div class="col-md-5">
        <h3>Что вы получите</h3>
        <p>Заказчик получит комплексную услугу по сохранению семейной памяти. От съемки и создании фильмов и клипов до хранения семейного видео на неограниченный срок. И наконец наш замечательный заказчик приобретёт близких друзей в нашем лице. С огромной радостью и удовольствием мы помогаем нашим заказчикам поддерживать их семейные традиции для счастья и радости в помощь будущим поколениям.</p>
      </div>
    </div>
  </div>
</div>

<div id="home-courses">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Курсы по видеосъемке для начинающих</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>Для тех, кто хочет сохранить семейную память и получить удовольствие от процесса видеосъемки.</p>
        <p>Вы получите базовую информацию о том, чем снимать и главное как. Такие понятия как свет, цвет и композиция станут для вас родными и понятными. Вы научитесь видеть красоту семейных событий и создавать свои киношедевры. Наши занятия помогут вам сделать значительный шаг вперед в освоении любого мобильного устройства (фотоаппарата, видеокамеры, мобильного телефона), чтобы снять на видео самые трогательные и значимые моменты из жизни вашей семьи.</p>
        <p><%= link_to "Записаться", contact_path, class: "btn btn-default" %></p>
      </div>
      <div class="col-md-4">
        <%= image_tag "http://placehold.it/350/fef9ff/81c9df&text=child,+parents+with+camera", class: "img-responsive" %>
      </div>
    </div>
  </div>
</div>

<div id="home-contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Контакты</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>Use the form to drop us a line. You can also send us a regular email or give us a call.</p> 
        <p>Phone: +7 (924) 307-77-11<br />Email: <%= mail_to "info@skymemories.ru" %></p>
      </div>
      <dvi class="col-md-6">
        Contact form
      </dvi>
      <div class="col-md-3">
        <p>
          <strong>Sky Memories</strong><br />
          Шевчука, 28ка, офис 421<br />
          Хабаровск, Россия
        </p>
        <p><%= link_to "Карта", "http://maps.yandex.ru/-/CVbNbJ~A" %></p>
      </div>
    </div>
  </div>
</div>