<% provide :title, "Статьи" %>
<h1>Статьи</h1>

<table>
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Текст</th>
      <th>Публиковать</th>
      <th>Пользователь</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.published %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Просмотр', post %></td>
        <td><%= link_to 'Редактирование', edit_post_path(post) %></td>
        <td><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Удалить статью?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить статью', new_post_path %>
