<% content_for :title, "Статья #{@post.title}" %>
<h1>Статья</h1>

<p>
  <strong>Заголовок:</strong>
  <%= escape_once(@post.title) %>
</p>

<p>
  <strong>Текст:</strong>
  <%= escape_once(@post.content) %>
</p>

<p>
  <strong>Публиковать:</strong>
  <%= escape_once(@post.published) %>
</p>

<p>
  <strong>Пользователь:</strong>
  <%= escape_once(@post.user.name) %>
</p>

<%= link_to 'Редактирование', edit_post_path(@post) %> |
<%= link_to 'Назад', posts_path %>
