<header id="page-header" role="banner">
  <div class="container">
    <%= link_to root_path, id: "logo" do %>
      <%#= image_tag("logo.png", alt: "SkyMemories home") %>
      <div class="brand-name">SKY MEMORIES</div>
      <div class="tag-line">СТУДИЯ СЕМЕЙНОГО КИНО</div>
    <% end %>
    <nav id="main-nav">
      <%= link_to "Фильмы", movies_path %> |
      <%= link_to "Статьи", posts_path %> |
      <%= link_to "Пользователи", users_path %> |
      <%= link_to "Контакты", contact_path %>
    </nav>
  </div>
</header>