<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <img id="logo" alt="Logo" src="/assets/logo.png">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Sky Memeories", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <% if I18n.locale == :ru %>
            <%= nav_link_to t(".blog"), blog_index_path, {}, selected_class: "active", wrapper: "li", controller_segment: 1 %>
          <% end %>
          <%= nav_link_to t(".about"), about_path, {}, selected_class: "active", wrapper: "li" %>
          <%= nav_link_to t(".contact"), contact_path, {}, selected_class: "active", wrapper: "li" %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= locale_menu if localized_page? %>
          <%= render "layouts/tools" if signed_in? %>
        </ul>
      </div>
    </div>
  </div>
</nav>