<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Sky Memeories", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <% if I18n.locale == :ru %>
            <li><%= link_to "Блог", "#" %></li>
          <% end %>
          <li><%= link_to t('.about'), about_path %></li>
          <li><%= link_to t('.contact'), contact_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= locale_menu if localized_page? %>
          <% if signed_in? %>
            <%= render "layouts/user" %>
            <%= render "layouts/tools" %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>