<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/touch-icon-iphone.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-ipad.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-iphone-retina.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/touch-icon-ipad-retina.png" />
</head>
<body>

<div id="home-header">
  <%= render "layouts/navbar" %>
  <div id="home-banner" class="container" role="banner">
    <%= yield :banner %>
  </div> 
</div>

<% if current_page?(root_url) %>
  <%= yield %>
<% else %>      
  <%= yield :map %>
  <%= render "layouts/main" %>
<% end %>      

<%= render 'layouts/footer' %>

<%= if false && Rails.env.development? 
      content_tag :div, class: "container" do
        debug(params)
      end
    end
%>

</body>
</html>
